.parent_wrapper{
    display: grid;
    /* border: 2px solid black; */
    grid-template-columns: 300px 200px  500px 300px  200px  ; 
    grid-template-rows: minmax(150px 500px, auto) ;
}
.cart_clear_button{
    background-color: rgb(200, 58, 58);
    border-radius: 7px;
    display: inline-block;
    /* color: white; */
    padding: 9px;
}

.button_parent{
    padding-top: 2rem;
    text-align: center;
    padding-bottom: 2rem;
}
.menu_image{
    height: 5rem;
    
}

.menu_item{
    padding: 1rem;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    
}